<!DOCTYPE html>


<p>Download answers as<a type="xls" href="<%= "/reviewassignment/#{@review_assignment.id}/grades.xls" %>"> XLS </a>
| <a type="csv" href="<%= "/reviewassignment/#{@review_assignment.id}/grades.csv" %>">CSV </a></p>

<p>Click a students name to view his or her answers</p>

<% if ReviewMapping.find_all_by_review_assignment_id(@review_assignment.id).count == 0 %>
	<p>No pairings found for this class! Something happened in creation!</p>
<% end %>

<table>
<thead></thead>
<% @students.each do |student| %>
	<tr>
	<% mappings = ReviewMapping.find_all_by_user_id_and_review_assignment_id(student.id,@review_assignment.id) %>
	<% mappings.each do |mapping|%>
		<% other_student = User.find(mapping.other_user_id) %>
		<% faculty_review = FacultyReview.find_by_review_mapping_id(mapping.id) %>
		<td>
		  <% if faculty_review %>
		    <strong>(Review Verified)</strong>
		  <% end %>
		  
		  <a href="<%= "/reviewassignment/viewsubmission/#{mapping.id}" %>"><%= "#{student.friendly_full_name} grading #{other_student.friendly_full_name}" %>
		  </a>
		  <% if faculty_review %>
		    <d class="btn" onclick="$('#faculty_review_<%= mapping.id %>').slideToggle();">View Faculty Comment</d>
		    <p id="faculty_review_<%= mapping.id %>" style='display:none'><strong>Faculty/TA Comment:</strong></br><%= faculty_review.content %></p>
		  
		  
		  <% end %>
		  </td>
		
	<% end %>	
	</tr>
<% end %>
<% unless @teacher_grades.count == 0 %>
		<tr>
		<% @teacher_grades.each do |mapping| %>
			<% other_student = User.find(mapping.other_user_id) %>
			<td><a href="<%= "/reviewassignment/viewsubmission/#{mapping.id}" %>"><%= "#{current_user.friendly_full_name} grading #{other_student.friendly_full_name}" %></a></td>	
		<% end %>
		</tr>
	<% end %>
</table>

<% unless @teacher_grades.count == 0 %>
<h2>You need to grade the following for this assignment:</h2>
<% @teacher_grades.each_with_index do |mapping,i| %>
<a href=<%= "/reviewassignment/#{@id}/#{i}/answer_form"%>>Review <%= mapping.other_user.friendly_full_name %></a></br>
<% end %>
<% end %>

<% unless @review_assignment.start_date < DateTime.now %>
	<%= link_to 'Reassign', '/reviewassignment/pairings/1', :class => 'btn' %>
<% end %>
