<!DOCTYPE html>
<% if @done %>

<h3>Thank you for your submission</h3>


<% elsif @file_submission.nil? %>
	<p>The person you are supposed to be grading has not uploaded a file!!!!</p>
<% else %>
	<a href=<%= "/assignment/download/" + @file_submission.id.to_s %>>Download</a>
<p> Please download and review the code above. After you are done, please answer the following questions: </p>
<table>
<thead></thead>
<% @questions.each_with_index do |question,i| %>
	<tr><h5><strong><%= "#{question.question_title}" %></strong></h5></tr>
	<tr><%= "#{question.content}" %></tr></br>
	<% name = "q#{i}" %>
	<% if question.multipleChoice? %>
	<% elsif question.numerical? %>
		<tr><input type="number" id="<%= name %>" min="1" max="10" /></tr></br>
	<% elsif question.shortAnswer? %>
		<tr><input type="text" id="<%= name %>"/></tr></br>
	<% end %>
<% end %>
</table>

<p class='btn' onClick='assignments.view.submit(<%= @questions.count %>,<%= @id %>);'>Submit Grade</p>

<% end %>


