
<strong> Please note</strong>: This page seems to have issues displaying saved answers correctly in Chrome. We are currently working to resolve this issue, but if you notice that your multiple choice answers are not repopulating correctly, try using Firefox for the time being. We apologize for the inconvenience.

<br/>

<% if @file_submission.nil? %>

	<p>The person you are supposed to be grading has not uploaded a file!!!!</p>

<% else %>
	<a class='btn' href=<%= "/assignment/download/" + @file_submission.id.to_s %>>Download</a>
<p> Please download and review the code above. After you are done, please answer the following questions: </p>

<p id="errors"/>

<table>
<thead></thead>
<% @questions.each_with_index do |question,i| %>
<div id="question_<%= i %>" class='question_area' value="q<%= i %>" type="<%= question.question_type %>">
	<tr>
	  <h5><strong><%= "#{question.question_title}" %></strong></h5>
	</tr>
	<tr>
	  <%= "#{question.content}" %>
	</tr></br>
	<% name = "q#{i}" %>
	<% if question.multiple_choice? %>
    <% @extras_hash[question.id].each_with_index do |extra, j| %>
      <tr><input type='radio' id="<%= 'choice_'+j.to_s %>" value="<%= extra.extra %>" name="<%= name+'_choice' %>" checked='<%= @answers_hash[question.id] == extra.extra %>' ><%= extra.extra %></tr><br/>
    <% end %>
    </br>
	<% elsif question.numerical_answer? %>
		<tr><input type="number" id="<%= name %>" min="1" max="10" value="<%= @answers_hash[question.id] %>"/></tr></br>
	<% elsif question.short_answer? %>
		<tr><textarea type="text" id="<%= name %>"><%= @answers_hash[question.id] %></textarea></tr></br>
	<% end %>
</div>
<% end %>
</table>

<p class='btn' onClick="reviewassignments.view.submit(<%= @id %>,<%= @other_id %>);">Submit Grade</p>

<% end %>
