<!DOCTYPE html>

<%= javascript_include_tag 'bootstrap-datepicker-1' %>

<p><%= link_to "Home", root_url %> // <%= link_to "Courses", "/courses" %> // <%= link_to @review_assignment.course.name, "/course/show/"+ @review_assignment.course.id.to_s %> // <%= @review_assignment.name %> </p>

<span id="flash" style="display:none; padding:4px; background-color:#F70; color:#000"></span>

Editing assignment for <%= @course.name %>

<%= render '/review_assignment/review_assignment_form' %>

<br/>

<p class='btn' onClick="reviewassignments.edit.submitChanges();">Submit</p>

<%= link_to 'Cancel', :back, :class => 'btn' %>

<script type='text/javascript' >
  reviewassignments.edit.pageLoad("<%= @review_assignment.id %>","<%= raw @review_assignment.name %>", "<%= @review_assignment.start_date.strftime('%m-%d-%Y') %>","<%= @review_assignment.end_date.strftime('%m-%d-%Y') %>","<%= @review_assignment.start_date.strftime('%I:%M %p') %>","<%= @review_assignment.end_date.strftime('%I:%M %p') %>","<%= @review_assignment.grouped %>", '<%= raw @review_questions.to_json %>', '<%= raw @review_question_choices.to_json %>');
</script>
