<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Grader</Data></Cell>
        <Cell><Data ss:Type="String">Graded</Data></Cell>
				<% @questions.each do |question| %>
        <Cell><Data ss:Type="String"><%= question.content.split('@#!$').first %></Data></Cell>
				<% end %>
      </Row>
    <% @students.each do |student| %>
      <Row>
        <Cell><Data ss:Type="String"><%= student.friendly_full_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= @review_assignment.find_pair(student.id).friendly_full_name %></Data></Cell>
				<% @answers[student.id].each_with_index do |answer,i| %>
					<% if @questions[i].numerical_answer? %>
        		<Cell><Data ss:Type="Number"><%= answer.answer %></Data></Cell>
					<% else %>
        		<Cell><Data ss:Type="String"><%= answer.answer %></Data></Cell>
					<% end %>
				<% end %>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
