<!DOCTYPE html>
<!-- Displays all of the courses in the system, contains button to add new course -->

<p><%= link_to "Home", root_url %> // <%= link_to "Courses", "/courses" %> // <%= @course.name %> </p>

<h1><%= @course.name %></h1>
</br>
<h3><%= @course.course_number.concat(" - ").concat(@course.section.to_s) %> <%= @course.term %></h3>
</br>


<% if current_user.id == @course.user_id %>
    <a class='btn' href="<%= edit_course_path @course.id %>">Edit Course / Roster</a>
<% end %>

<div class="container">
  <div class="row">
    <div class="span6">
      <h3>Taught by:</h3>
      <% if @teacher.nil? %>
      <h2>No teacher</h2>
      <% else %>
      <h2><%= @teacher.friendly_full_name %></h2>
      <% end %>
      </br>

      <% unless @tas.nil? %>
      <h3>TAs</h3>
        <table class='table table-hover'>
          <thead>
            <tr>
              <th>ID</th>
              <th>Email</th>
              <th>Name</th>
              <th>Last online</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @tas.each do |ta| %>
            <% user = User.where(:id => ta.user_id)[0] %>
              <tr>
                <td><%= user.id %></td>
                <td><%= user.email %></td>
                <td><%= user.friendly_full_name %></td>
                <td><%= user.last_sign_in_at %></td>
                <td>
                  <p class='btn' onclick="users.viewUser('<%= user.id %>')">View</p>
                </td>  
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
      </br>

      <% unless @students.nil? %>
      <h3>Students</h3>
        <table class='table table-hover'>
          <thead>
            <tr>
              <th>ID</th>
              <th>Email</th>
              <th>Name</th>
              <th>Last online</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @students.each do |student| %>
            <% user = User.where(:id => student.user_id)[0] %>
            <% if !user.nil? %>
              <tr>
                <td><%= user.id %></td>
                <td><%= user.email %></td>
                <td><%= user.friendly_full_name %></td>
                <td><%= user.last_sign_in_at %></td>
                <td>
                  <p class='btn' onclick="users.viewUser('<%= user.id %>')">View</p>
                </td>  
              </tr>
            <% else %>
              <tr>
                <td>ERROR</td>
              </tr>
            <% end %>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
    <div class= "span6" >
      <% if @user_is_ta_or_faculty %>
        <h3>Assignments: </h3>
					<table class='table table-hover'>
          <% @assignments.each do |assignment| %>
            <tr>
							<td><%= assignment.name %></td>
							<td>
                <a class='btn' href=<%= "/assignment/view/" + assignment.id.to_s %> >View</a>
                <a class='btn' href=<%= "/assignment/edit/" + assignment.id.to_s %> >Edit</a>
              </td>							
						</tr>
          <% end %>
				</table>
        <%= button_to 'Create New', {:action => 'create', :controller => 'assignment', :course_id => @course.id} %>
      <% end %>
    </div>
  </div>
</div>


