<!DOCTYPE html>
<!-- Javascript is located in admin.js -->
<h3>Administrators</h3>

  <% unless current_page?(:controller => :admin, :action => 'index') %>
      <%= render '/shared/user_search_form', :role => 'admin' %>
  <% end %>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Name</th>
      <th>Last online</th>
    </tr>
  </thead>
  <tbody id='admin_table'>
    <% @admins.each do |user| %>
      <tr id="user-<%= user.id %>">
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.friendly_full_name %></td>
        <td><%= user.last_sign_in_at %></td>
        <td>
          <p class='btn' onclick="users.viewUser('<%= user.id %>')">View</p>
          <p class='btn btn-danger' id="user-<%= user.id %>-remove" onclick="admin.deleteUser('<%= user.email %>');">Delete</p>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tbody>
    <% if admin_count > @admins.count %>
      <tr id='view_more_admin_row'>
        <td colspan='5'>
          Currently displaying
            <strong id='count_admin'><%= @admins.count %></strong> of <strong id='total_admin'><%= admin_count %></strong> admin.
          Click here to view the rest.
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<a class='btn' id='add_admin_button'>Add Administrator</a>
<form class="form-search" id='add_admin'>
  <strong>Administrator name:</strong>
  <input type="text" class="input-medium search-query" placeholder="[First Last]" id='admin_name'>
  <strong>Administrator e-mail:</strong>  
  <input type="text" class="input-medium search-query" id='admin_email'>
  <p class="btn" id='submit_admin'>Add</p>
</form>

<script type='text/javascript'>
$(document).ready(function() {
  admin.admins.pageLoad();
});
</script>
