<!DOCTYPE html>
<!-- Javascript is located in admin.js -->

<h3>Faculty</h3>
  <% unless current_page?(:controller => :admin, :action => 'index') %>
      <%= render '/shared/user_search_form', :role => 'faculty' %>
  <% end %>
  <table class='table table-hover'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Name</th>
        <th>Last online</th>
        <th/>
      </tr>
    </thead>
    <tbody id='faculty_table'>
      <% @faculty.each do |user| %>
        <tr id="user-<%= user.id %>">
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td><%= user.friendly_full_name %></td>
          <td><%= user.last_sign_in_at %></td>
          <td>
            <p class='btn' onclick="users.viewUser('<%= user.id %>')">View</p>
            <p class='btn btn-danger' id="user-<%= user.id %>-remove" onclick="admin.deleteUser('<%= user.email %>');">Delete</p>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tbody>
      <% if faculty_count > @faculty.count %>
        <tr id='view_more_faculty_row'>
          <td colspan='5'>
            Currently displaying
              <strong id='count_faculty'><%= @faculty.count %></strong> of <strong id='total_faculty'><%= faculty_count %></strong> faculty.
            Click here to view the rest.
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<a class='btn' id='add_faculty_button'>Add faculty</a>
<form class="form-search" id='add_faculty'>
  <strong>Faculty name:</strong>
  <input type="text" class="input-medium search-query" placeholder="[First Last]" id='faculty_name'>
  <strong>Faculty e-mail:</strong>  
  <input type="text" class="input-medium search-query" id='faculty_email'>
  <p class="btn" id='submit_faculty'>Add</p>
</form>

<script type='text/javascript'>
$(document).ready(function() {
  admin.faculty.pageLoad();
});
</script>
