<!DOCTYPE html>

<h3>Faculty</h3>
  <% unless current_page?(:controller => :admin, :action => 'index') %>
    <%= render '/shared/user_search_form' %>
  <% end %>
  <table class='table table-hover'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Name</th>
        <th>Last online</th>
        <th/>
      </tr>
    </thead>
    <tbody id='faculty_table'>
      <% @faculty.each do |user| %>
        <tr id="user-<%= user.id %>">
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td><%= user.friendly_full_name %></td>
          <td><%= user.last_sign_in_at %></td>
          <td>
            <p class='btn'>View</p>
            <p class='btn btn-danger' id="user-<%= user.id %>-remove" onclick="deleteUser('<%= user.email %>');">Delete</p>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tbody>
      <% if faculty_count > @faculty.count %>
        <tr id='view_more_faculty_row'>
          <td colspan='5'>
            Currently displaying <strong><%= @faculty.count %></strong> of <strong><%= faculty_count %></strong> faculty. Click here to view the rest.
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<a class='btn' id='add_faculty_button'>Add faculty</a>
<form class="form-search" id='add_faculty'>
  <strong>Faculty name:</strong>
  <input type="text" class="input-medium search-query" placeholder="[First Last]" id='faculty_name'>
  <strong>Faculty e-mail:</strong>  
  <input type="text" class="input-medium search-query" id='faculty_email'>
  <p class="btn" id='submit_faculty'>Add</p>
</form>


<script type='text/javascript' runat='server'>


var addError = function(message) {
  $("#add_faculty").append($("<div id='alert' class='alert alert-error fade in' data-alert>"+
           "<button type='button' class='close' data-dismiss='alert'>×</button><strong> " + message + " </strong></div>"));
          $('#alert').delay(1500).fadeOut('slow', function(){ $('#alert').remove() });
};

var searchFaculty = function() {
  var email = $('#search_email').attr('value');
  var first_name = $('#search_first_name').attr('value');
  var last_name = $('#search_last_name').attr('value');
    
  $.post('/admin/search_users',
    { 'email' : email,
      'first_name' : first_name,
      'last_name' : last_name,
      'role' : 'faculty'
    },
    function(result){
      clearTable('faculty');
      $.each(result, function(index, ele){ updateTableWithUser('faculty', ele); });
    });
};

var clearTable = function(table) { $('#' + table + '_table').empty(); };

var updateTableWithUser = function(table, user) {
  var table = $('#' + table + '_table');
  table.append(
    '<tr id="user-'+user.id + '" style="display:none">' 
  + '<td>'+user.id+'</td>'
  + '<td>'+user.email+'</td>'
  + '<td>'+user.first_name + ' ' + user.last_name+'</td>'
  + '<td></td>'
  + '<td>'
  + '<p class=\'btn\'>View</p>' + ' '
  + '<p class=\'btn btn-danger\' id="user-'+ user.id +'-remove" onclick="deleteUser(\''+ user.email +'\');">Delete</p>'
  + '</td>'
  + '</tr>');
  $('#user-'+user.id).show('fast');
};


var addFaculty = function(){
    var email = $('#faculty_email').attr('value');
    var name = $('#faculty_name').attr('value');
    var role = 'faculty';
    if(name.split(' ').length < 2) {
      addError('Please enter a valid [First Last] name.');
    }
    else {
    $.post('/admin/add_user',
      { 'email': email,
        'name' : name,
        'role' : role
      },
      function(user){
        if ( user.errormessage ) {
          addError(user.errormessage);
        }
        else {
          updateTableWithUser('faculty', user);
        }
          $('#faculty_email').attr('value','');
          $('#faculty_name').attr('value','');
        });
    }
};

var deleteUser = function(email){
    $.post('/admin/delete_user',
      { 'email' : email },
      function(faculty){
        var row = $("#user-"+faculty.id);
        row.toggle('fast', function(){ row.remove()});
      });
};

$(document).ready(function(){
  $('#add_faculty').toggle();
  $('#add_faculty_button').click(function(){
      $('#add_faculty').toggle('fast');
  });

  $('#view_more_faculty_row').click(function(){
    window.location.href = "<%= view_faculty_path %>";
  });

  $('#search_email').keyup(function() { searchFaculty(); });
  $('#search_first_name').keyup(function () { searchFaculty(); });
  $('#search_last_name').keyup(function () { searchFaculty(); });

  $('#submit_faculty').click(function(){addFaculty()});
  $('#faculty_email').keypress(function(event){
                                if(event.which == 13)
                                {
                                  addFaculty();
                                  return false;
                                }                            
                              });
});
</script>


