<!DOCTYPE html>
<!-- Javascript is located in admin.js -->
<h3>Students</h3>
  <% unless current_page?(:controller => :admin, :action => 'index') %>
    <%= render '/shared/user_search_form', :role => 'student' %>
  <% end %>
<% unless @students.empty? %>
  <table class='table table-hover'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Name</th>
        <th>Last online</th>
        <th></td>
      </tr>
    </thead>
    <tbody id='student_table'>
      <% @students.each do |user| %>
        <tr id="user-<%= user.id %>">
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td><%= user.friendly_full_name %></td>
          <td><%= user.last_sign_in_at %></td>
          <td>
            <p class='btn' onclick="users.viewUser('<%= user.id %>')">View</p>
            <p class='btn btn-danger' id="user-<%= user.id %>-remove" onclick="admin.deleteUser('<%= user.email %>');">Delete</p>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tbody>
      <% if student_count > @students.count %>
        <tr id='view_more_students_row'>
          <td colspan='5'>
            Currently displaying
              <strong id='count_student'><%= @students.count %></strong> of <strong id='total_student'><%= student_count %></strong> students.
            Click here to view the rest.
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  There are no students registered at this time.
<% end %>

<script type='text/javascript'>
$(document).ready(function() {
  admin.students.pageLoad();
});
</script>

