<!DOCTYPE html>

<%= javascript_include_tag 'bootstrap-datepicker-1' %>

<span id="flash" style="display:none; padding:4px; background-color:#F70; color:#000"></span>

<h3>Creating assignment for <%= @course.name %></h3>

<%=render '/assignment/assignment_form' %>

<p>
Note: You can upload assignment files (Grading rubric, starting files, etc.) after the assignment has been created.
</p>
<p class='btn' onClick='assignments.create.submitAssignment();'>Submit</p>


<%= link_to 'Cancel', :back, :class => 'btn' %>

<script type='text/javascript' >
  assignments.create.pageLoad(<%= @course.id %>);
</script>

