<!DOCTYPE html>

<%= javascript_include_tag 'bootstrap-datepicker-1' %>


Creating assignment for <%= @course.name %>

<div>
Assignment Name: <input id='name' class='span2' size='16' type='text'/>
</div>

<div>
Assignment Start Date:<p class="input-append date" id="start-date" data-date="<%= Time.now.strftime('%m-%d-%Y') %>" data-date-format="mm-dd-yyyy">
<input id='start-date-value' class="span2" size="16" type="text" value="<%= Time.now.strftime('%m-%d-%Y') %>">
  <span class="add-on"><i class="icon-th"></i></span>
</p>
</div>



Assignment End Date: <p class="input-append date" id="end-date" data-date="<%= (Time.now + 1.week).strftime('%m-%d-%Y') %>" data-date-format="mm-dd-yyyy">
 <input class="span2" id='end-date-value' size="16" type="text" value="<%= (Time.now + 1.week).strftime('%m-%d-%Y') %>">
  <span class="add-on"><i class="icon-th"></i></span>
</p>



<div>
Assignment Description:
<textarea id='description' class='span2' size='16' rows='3'></textarea>
</div>




<p class='btn' onClick='submitAssignment();'>Submit</p>

<script type='text/javascript' >
  $('#start-date').datepicker({ 'autoClose':true}).on('changeDate', function(ev) { $('#start-date').datepicker('hide'); });

  $('#end-date').datepicker({ 'autoClose':true}).on('changeDate', function(ev) { $('#end-date').datepicker('hide'); });


  var submitAssignment = function() {
    var startDate = $('#start-date-value').val();
    var endDate = $('#end-date-value').val();
    var name = $('#name').val();
    var desc = $('#description').val();
    if(!datesFormatOK(startDate, endDate)) {
      alert('Please verify the dates entered are valid.');  
    }
    else if(!dateTimesOK(startDate, endDate)) {
      alert('The start date cannot occur after the end date.');
    }
    else {
      $.post('/assignment/submit_new',
        {'startDate':startDate,
        'endDate':endDate,
        'name':name,
        'description':desc,
        'course_id':<%= @course.id %>
        }, function() {
          window.location = '/course/show/' + <%= @course.id %>;
        }          
      );
    }
  };
  
  var datesFormatOK = function(startDate, endDate) {
    return (startDate.split('-').length == 3) && (endDate.split('-').length == 3);
  };

  var dateTimesOK = function(startDate, endDate) {
    startYear = startDate.split('-')[2];
    startDay = startDate.split('-')[1];
    startMonth = startDate.split('-')[0];

    endYear = endDate.split('-')[2];
    endMonth = endDate.split('-')[0];
    endDay = endDate.split('-')[1];
    
    var start = new Date(startYear, startMonth - 1, startDay);
    var end = new Date(endYear, endMonth - 1, endDay);
    alert(start.getTime());
    return start.getTime() < end.getTime();
  };
</script>



