<!-- List all of the assignments for a class, as well as link to view the assignment -->

<p><%= link_to "Home", root_url %> // Assignments </p>

<h1>Assignments</h1>

<strong>The below assignments are color-coded based on your status in the course.</strong><br/>
Green rows signify an assignment for a course you are a member of.<br/>
Blue rows signify assignments for courses you are either a TA or Faculty member for.

<h2>Current Assignments</h2>
The below assignments are currently open to submissions. (Note: They are <strong>not</strong> ordered by any means of priority or importance.)

<table class='table table-hover'>
	<thead>
	  <tr>
    <th>Course</th>
		<th>Name</th>
	  <th>Start Date</th>
	  <th>Due Date</th>
		<th></th>
		</tr>
	</thead>
	<% @currentAssignments.each do |assignment| %>
	  <tr class='success'>
    <td><%= assignment.course.name %></td>
		<td><%= assignment.name %></td>
	  <td><%= assignment.pretty_start_date %></td>
	  <td><%= assignment.pretty_end_date %></td>
		<td><p class='btn' onclick="viewAssignment('<%= assignment.id %>')">View</p></td>
		</tr>
	<% end %>
	<% @taCurrentAssignments.each do |assignment| %>
	  <tr class='info'>
    <td><%= assignment.course.name %></td>
		<td><%= assignment.name %></td>
	  <td><%= assignment.pretty_start_date %></td>
	  <td><%= assignment.pretty_end_date %></td>
		<td><p class='btn' onclick="viewAssignment('<%= assignment.id %>')">View</p></td>
		</tr>
	<% end %>

</table>


<h2>Future Assignments</h2>
These assignments have not yet started, and are currently not accepting submissions.
<table class='table table-hover'>
	<thead>
	  <tr>
    <th>Course</th>
		<th>Name</th>
	  <th>Start Date</th>
	  <th>Due Date</th>
		<th></th>
		</tr>
	</thead>
  
	<% @futureAssignments.each do |assignment| %>
	  <tr class='success'>
    <td><%= assignment.course.name %></td>
		<td><%= assignment.name %></td>
	  <td><%= assignment.pretty_start_date %></td>
	  <td><%= assignment.pretty_end_date %></td>
		<td><p class='btn' onclick="viewAssignment('<%= assignment.id %>')">View</p></td>
		</tr>
	<% end %>
	<% @taFutureAssignments.each do |assignment| %>
	  <tr class='info'>
    <td><%= assignment.course.name %></td>
		<td><%= assignment.name %></td>
	  <td><%= assignment.pretty_start_date %></td>
	  <td><%= assignment.pretty_end_date %></td>
		<td><p class='btn' onclick="viewAssignment('<%= assignment.id %>')">View</p></td>
		</tr>
	<% end %>

</table>

<h2>Old Assignments</h2>
The deadline for the assignments listed below have passed. They are no longer accepting submissions, but you may still access your old files and view any applicable reviews.
<table class='table table-hover'>
	<thead>
	  <tr>
    <th>Course</th>
		<th>Name</th>
	  <th>Start Date</th>
	  <th>Due Date</th>
		<th></th>
		</tr>
	</thead>
	<% @pastAssignments.each do |assignment| %>
	  <tr class='success'>
    <td><%= assignment.course.name %></td>
		<td><%= assignment.name %></td>
	  <td><%= assignment.pretty_start_date %></td>
	  <td><%= assignment.pretty_end_date %></td>
		<td><p class='btn' onclick="viewAssignment('<%= assignment.id %>')">View</p></td>
		</tr>
	<% end %>

	<% @taPastAssignments.each do |assignment| %>
	  <tr class='info'>
    <td><%= assignment.course.name %></td>
		<td><%= assignment.name %></td>
	  <td><%= assignment.pretty_start_date %></td>
	  <td><%= assignment.pretty_end_date %></td>
		<td><p class='btn' onclick="viewAssignment('<%= assignment.id %>')">View</p></td>
		</tr>
	<% end %>

</table>

<h2>Review Assignments</h2>
The assignments below are review assignments;</br>
<strong>Green</strong> review assignments are awaiting a review from you.</br>
<table class='table table-hover'>
	<thead>
	  <tr>
    <th>Course</th>
		<th>Name</th>
	  <th>Start Date</th>
	  <th>Due Date</th>
		<th></th>
		</tr>
	</thead>
	<% @reviewAssignments.each do |assignment| %>
	  <tr class='success'>
    <td><%= assignment.course.name %></td>
		<td><%= assignment.name %></td>
	  <td><%= assignment.pretty_start_date %></td>
	  <td><%= assignment.pretty_end_date %></td>
		<td><p class='btn' onclick="viewReviewAssignment('<%= assignment.id %>')">View</p></td>
		</tr>
	<% end %>
</table>

<script type='text/javascript' >
  var viewAssignment = function(number) {
          window.location = '/assignment/view/' + number;
  };
  var viewReviewAssignment = function(number) {
          window.location = '/reviewassignment/view/' + number;
  };
</script>

