<!-- List all of the assignments for a class, as well as link to view the assignment -->

<p><%= link_to "Home", root_url %> // Assignments </p>

<h1>Assignments</h1>

<strong>The assignments here are color-coded based on its due date.</strong><br/>
Green rows represent an assignment due sometime in the future.<br/>
Blue rows represent assignments that were due within the last 24 hours and are still eligible for a late day (if applicable).<br/>
Red rows represent assignments that are past 24 hours overdue.<br/>

<% if current_user.student? %>
  <h2> Your Assignments </h2>
    <% if @studentAssignments.empty? %>
        ...Nothing to see here...
    <% else %>
      <%= render 'assignment/table_layouts/assignment_details', :assignments => @studentAssignments, :can_edit => false %>
    <% end %>

  <h2> Your Review Assignments </h2>
    <% if @studentReviewAssignments.empty? %>
      ...Nothing to see here...
    <% else %>
       <%= render 'assignment/table_layouts/assignment_details', :assignments => @studentReviewAssignments, :can_edit => false %>
    <% end %>

  <% unless @taAssignments.empty? %>
    <h2> (TA) Regular Assignments </h2>
    <%= render 'assignment/table_layouts/assignment_details', :assignments => @taAssignments, :can_edit => false %>
  <% end %>
    
  <% unless @taReviewAssignments.empty? %>
    <h2> (TA) Review Assignments </h2>
    <%= render 'assignment/table_layouts/assignment_details', :assignments => @taReviewAssignments, :can_edit => false %>
  <% end %>
  
<% elsif current_user.faculty? %>
  <h2> Regular Assignments </h2>
  <% if @facultyAssignments.empty? %>
    ...Nothing to see here...
  <% else %>
    <%= render 'assignment/table_layouts/assignment_details', :assignments => @facultyAssignments, :can_edit => true %>
  <% end %>

  <h2> Review Assignments </h2>
  <% if @facultyReviewAssignments.empty? %>
    ...Nothing to see here...
  <% else %>
    <%= render 'assignment/table_layouts/assignment_details', :assignments => @facultyReviewAssignments, :can_edit => true %>
  <% end %>
  
<% elsif current_user.admin? %>
  <h2> Regular Assignments </h2>
  <% if @allAssignments.empty? %>
    ...Nothing to see here...
  <% else %>
    <%= render 'assignment/table_layouts/assignment_details', :assignments => @allAssignments, :can_edit => true %>
  <% end %>

  <h2> Review Assignments </h2>
  <% if @allReviewAssignments.empty? %>
    ...Nothing to see here...
  <% else %>
    <%= render 'assignment/table_layouts/assignment_details', :assignments => @allReviewAssignments, :can_edit => true %>
  <% end %>
  
<% end %>
<script type='text/javascript' >
  var viewAssignment = function(number) {
          window.location = '/assignment/view/' + number;
  };
  var viewReviewAssignment = function(number) {
          window.location = '/reviewassignment/view/' + number;
  };
  var editAssignment = function(number) {
          window.location = '/assignment/edit/' + number;
  };
  var editReviewAssignment = function(number) {
          window.location = '/reviewassignment/edit/' + number;
  };
</script>

