<h1>Assignments<h1>

<h2>Current Assignments</h2>
<table class='table table-hover'>
	<thead>
	  <tr>
		<th>Name</th>
	  <th>Start Date</th>
	  <th>Due Date</th>
		<th></th>
		</tr>
	</thead>
	<% @currentAssignments.each do |assignment| %>
	  <tr>
		<td><%= assignment.name %></td>
	  <td><%= assignment.start_date.to_date %></td>
	  <td><%= assignment.end_date.to_date %></td>
		<td><p class='btn' onclick="viewAssignment('<%= assignment.id %>')">View</p></td>
		</tr>
	<% end %>
</table>


<h2>Future Assignments</h2>
<table class='table table-hover'>
	<thead>
	  <tr>
		<th>Name</th>
	  <th>Start Date</th>
	  <th>Due Date</th>
		<th></th>
		</tr>
	</thead>
	<% @futureAssignments.each do |assignment| %>
	  <tr>
		<td><%= assignment.name %></td>
	  <td><%= assignment.start_date.to_date %></td>
	  <td><%= assignment.end_date.to_date %></td>
		<td><p class='btn' onclick="viewAssignment('<%= assignment.id %>')">View</p></td>
		</tr>
	<% end %>
</table>

<h2>Old Assignments</h2>
<table class='table table-hover'>
	<thead>
	  <tr>
		<th>Name</th>
	  <th>Start Date</th>
	  <th>Due Date</th>
		<th></th>
		</tr>
	</thead>
	<% @pastAssignments.each do |assignment| %>
	  <tr>
		<td><%= assignment.name %></td>
	  <td><%= assignment.start_date.to_date %></td>
	  <td><%= assignment.end_date.to_date %></td>
		<td><p class='btn' onclick="viewAssignment('<%= assignment.id %>')">View</p></td>
		</tr>
	<% end %>
</table>

<script type='text/javascript' >
  var viewAssignment = function(number) {
          window.location = '/assignment/view/' + number;
  };
</script>

