<!-- TODO: Make a separate TA/Faculty view that shows what students have submitted solutions to this assignment. -->
<!-- Assignment View || Shows the basic information regarding an assignment; allows for students to upload a submisison. -->

<h1><%= @assignment.name %></h1>


<h3>Description</h3>
<%= @assignmentDefinition.description %>


<h3>Start Date</h3>
<%= @assignment.start_date.to_date %>

<h3>End Date</h3>
<%= @assignment.end_date.to_date %>
<br/>
<br/>


<h3>Previous Submissions</h3>
<table class='table table-hover'>
<% @files.each do |file| %>
<td> <a href=<%= "/assignment/download/" + file.id.to_s %>> <%= file.name %> </a> </td>
<% end %>
</table>

<%= form_tag("/assignment/upload", :method => "post",:multipart => true) do %>
<p><label for="upload">Select File</label> 
<%= file_field_tag 'datafile' %></p>
<%= hidden_field_tag 'assignment_definition_id', @assignmentDefinition.id %>
<%= submit_tag "Upload" %>
<% end %>

