<!DOCTYPE html>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>Term</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @classes.each do |course| %>
      <tr>
        <td><%= course.course_number + ' - ' + course.section.to_s%></td>
        <td><%= course.name %></td>
        <td><%= course.term %></td>   
        <td>
          <a href=<%= "../course/show/"+course.id.to_s%> class="btn">View</a>
          <a href=<%= "../course/edit/"+course.id.to_s%> class="btn">Edit</a>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
</br>
<p class="btn" id='add_course' onclick='window.location.href="/faculty/new_course"'>Add Course</p>
