<!DOCTYPE html>
<html>
<head>
  <title>CodeSwap</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'shared/log_in_modal' %>
  <%= render 'shared/view_user_modal' %>
  <%= render 'shared/loading_modal' %>
  <%= render 'shared/favicon_loader' %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fluid-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Code Swap Application", root_path, :class => 'brand' %></li>
            <li><%= link_to "Wiki", "https://github.com/alexlo03/CodeSwap/wiki" %></li>
            <% if current_user %>
              <%= render 'shared/user_role_links' %>
            <% end %>
          </ul>
          <ul class="nav pull-right">
            <% if current_user %>
              <!-- TODO: Put this in the user settings page. -->
							<!--<li><%= link_to "Authentications", authentications_path %></li> -->
              <li><%= link_to "Welcome, " + current_user.friendly_full_name + "!"%></li> <!-- TODO: Make a user settings page that this links to!!!! -->
              <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
            <% else %>
              <li data-target="#logInModal" role="button" data-toggle="modal"><%= link_to "Log in" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="span12">
        <% if flash[:notice] %>
          <p class="notice"><%= flash[:notice] %></p>
        <% end %>
        <% if flash[:error] %>
          <p class="error"><%= flash[:error] %></p>
        <% end %> 
      </div>
    </div>
    <div class="row">
      <div class="span12">        
        <%= yield %>
      </div>
    </div> 
  </div>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
</body>
</html>
